
body{
	background-color: #777799;
	margin: 0;
	padding:0;
}

header{
	background-color: #454545;
	height: 55px;
}

nav{
	position: absolute;
	top:5px;
	right:30px;
	display: inline;
}

nav li{
	list-style: disc;
	display: inline;
	padding: 10px;
}

nav a:link ,nav a:hover, nav a:visited{
	color: white;
	list-style-type: disc;
	text-decoration: none;
}

article img{
	max-width: 100%;
	max-height: 100%;
}

h3, p.author{
	color: #888;
}

article, #picture, aside {
	border: thin outset white;
	margin: 20px 20px;
	background-color: #bbffee;
	padding: 20px;
}

table{
	border-collapse: collapse;
	width: 100%;
}

td ,th{
	border: 1px solid;
}

table th{
	background-color: #777799;
}

#last{
	background-color: #ccccff;
}

#picture{
	overflow: hidden;
	padding-bottom: 20px;
}

#picture .image{
	border: solid thin black;
	background-color: #bee;
	padding: 10px;
	width: 150px;
	margin: 10px;
	float: left;
	
}

div#tablecontainer{
	display: table;
	margin-right: 0;
	line-height: 3em;
}

div.tablerow{
	display:table-row;
	
	margin: 0 20px;
}

div.tabled{
	display: table-cell;
}

div.top{
	vertical-align: top;
}

div.tablec{
	text-align: right;
	width: 450px;
}

main{
	margin-right: 390px;
}

aside{
	width:330px;
	position: absolute;
	top: 55px;
	right: 0;
	font-size: 0.8em;
	line-height: 2em;
}

aside h2{
	border-left: solid 3px #ccc;
	padding: 8px 20px;
}

aside textarea{
	font-size: 1.6em;
}

aside .tips{
	color: #aaa;
}

#submit{
	width: 100%;
	background: #02f;
	border: none;
	padding: 5px;
	margin-top: 15px;
	color: white;
	height: 40px;
	border-radius: 10px;
}

footer{
	background-color: #454545;
	height: 60px;
}

footer p{
	color: white;
	font-size: 80%;
	text-align: center;
	padding: 20px;
}